@import "tailwindcss" source("../");

@layer base {
  body {
    background: var(--color-yellow-300);
    color: rgb(24 24 27 / 0.9);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
